[submodule "dependencies/SPIRV-Cross"]
	path = dependencies/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "dependencies/SPIRV-Tools"]
	path = dependencies/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "dependencies/SPIRV-Headers"]
	path = dependencies/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "dependencies/argparse"]
	path = dependencies/argparse
	url = https://github.com/p-ranav/argparse.git
